#container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#score-container {
    padding-left: 20px;
    height: 100%;
    width: 200px;
    font-size: 20px;
}

#menu {
    position: fixed;
    display: block;
    width:50%;
    padding-bottom:50px;
    top:10%;
    left:25%;
    border: black 1px solid;
    z-index: 400;
    background: wheat;
    cursor: pointer;
	
    display: flex;
    flex-direction: column;
    text-align: center;
}

#menu-title {
}

#menu-buttons {
}

#menu-queue {
}

button {

}

#scores {
    width:100%;
    padding-left:0px;
}
.score {
    margin-bottom:10px;
    display:flex;
    flex-direction:row;
}

.cooldown {
    width:50px;
    height:50px;
    background:white;

}

.cooldownCircle {
    position:relative;
    top:0;
    left:0;
    background: #0ff;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 2px solid black;
    box-sizing: border-box;
}

.cooldownOver {
    position:relative;
    background:white;
    top:-50px;
    left:0;
    height:0%;
    background white;
    border-bottom: 2px solid black;
    box-sizing: border-box;
}
